<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="margin-left: 1rem"></span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [(opened)]="mostrar" class="sidenav">
    <h2 align="center" style="margin-top: 10px;">Market App</h2>
    <mat-list class="sidenav-nav">
      <mat-list-item class="sidenav-nav-item" *ngFor="let data of navData">
        <a
          class="sidenav-nav-link"
          [routerLink]="[data.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon
            class="sidenav-link-icon"
            aria-hidden="false"
            fontIcon="{{ data.icon }}"
          ></mat-icon>
          <span class="sidenav-link-text">
            {{ "sidenav." + data.label | translate }}
          </span>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <router-outlet style="display: inline-block; width: calc(100% - 300px);">

</router-outlet> -->
